<?xml version="1.0"?>
<model>
  <name>P3Bot</name>
  <version>0.1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Sergio Eslava</name>
    <email>sergioeslavadev@gmail.com</email>
  </author>

  <description>
    P3Bot mobile manipulator model for Gazebo (Fuel-ready). Includes base, 4-wheel platform, dual Kinova Gen3 arms and sensor frames.
  </description>

  <license>Apache-2.0</license>
</model>
